:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --colorRed: rgb(245, 82, 117);
    --colorBlue: #0a38cf;
}

.main_space {
    background-color: var(--colorRed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
}

.name_traning {
    background-color: var(--colorRed);
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diskription_traning {
    background-color: var(--colorBlue);
    width: 45%;
    height: 100%;
    clip-path: polygon(65.80% 0.00%, 100.00% 0.00%, 100% 100%, 2.38% 100%);
    border: solid #1361f1;
    display: flex;
    justify-content: end;
}

.player {
    width: 50vw;
    height: 70vh;
    position: relative;
    margin-left: 1vw;
}

.traning {
    position: relative;
    width: 50%;
    font-size: 2vw;
    font-family: var(--font-family);
}

.buttons_dislacation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 3vw;
    width: 90%;
    margin-left: 7%;
}

.buttons_customize {
    -webkit-box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 15px 6px -5px rgba(34, 60, 80, 0.2);
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font-family);
    width: 20%;
    height: 5%;
    align-self: flex-start ;
}

 .back {
    background-color: var(--colorBlue);
}

.back:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: var(--colorBlue);
}
.back:active {
    position: relative;
}

.next {
       background-color: var(--colorRed);    
}

.next:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: var(--colorRed);
}

.next:active {
    position: relative;
} 

.wrapper {
    height: 80%;
    width: 60%;
    align-self: self-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diskription {
    color: #ffffff;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.structure {
    color: #ffffff;
    height: 33%;
    font-size: 1.5vw;
    font-family: var(--font-family);
}

.imagesArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imageSlider {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation-name: Animation;
    animation-duration: 1s;
}

.activeImage {
    background: rgb(115, 126, 250);
    display: flex;
    border-radius: 60px;
}

.pointsAreaSize {
    width: 150px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    margin-left: 275px
}

.point {
    display: flex;
    width: 12px;
    height: 12px;
    background: rgb(229, 229, 229);
    border-radius: 100px;
    cursor: pointer;
    display: none;
}

.point:hover {
    background: rgb(160, 167, 243);
}

.modal {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: +2500px;
    width: 100%;
    height: 100%;
    background-color: var(--colorBlue);
    overflow: auto;
    color: #ffffff;
    clip-path: polygon(29.55% 0.00%, 100.00% 0.00%, 100.00% 98.78%, 0.00% 100%);
}

.modal_active {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--colorBlue);
    overflow: auto;
    color: #ffffff;
    animation-name: ani;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    clip-path: polygon(29.55% 0.00%, 100.00% 0.00%, 99.44% 100%, 0.00% 100%);
}

@keyframes ani {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw)
    }
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: var(--colorBlue);
    margin: 10% auto;
    padding: 60px;
    width: 60%;
    height: 70%;
    font-size: 36px;
    font-family: var(--font-family);
}

.close {
    position: relative;
    left: 60vw;
    font-size: 72px;
    text-align: right;
    font-family: var(--font-family);
}

.close:hover {
    cursor: pointer;
    font-family: var(--font-family);
}