:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --background-colorR: #D847AF;
    --background-colorB: rgba(0, 143, 178, 1);
    --index: calc(1vw + 1vh);
    --text: #e7e7e0;
}

.header {
    width: 100%;
    height:2vw;
    background-color: var(--background-colorR);
    display: flex;
    justify-content: right;
    margin-bottom: 2vw;
}

.navigation_menu {
    width: 95%;
    height: 2vw;
    display: flex;
    justify-content: right;
    margin: 0;
    line-height: 1.55
}

.navigation_menu a {
    font-size: 1.5vw;
}

.answers_ready {
    width: 100%;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-colorB);
    margin-bottom: 2vw;
    flex-direction: column;
}

.answers_ready h1 {
    font-size: 3vw;
}

.form_radio_btn {
    display: inline-flex;
    justify-content: center;
}
.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-flex;
    cursor: pointer;
    padding: 0px 1vw;
    line-height: 2vw;
    border: 1px solid #000000;
    border-radius: 6px;
    user-select: none;
    background-color: aqua;
    width: 10vw;
    justify-content: center;
    font-size: 1vw;
}

.form_radio_btn input[type=radio]:checked+label {
    background-color: var(--background-colorR);
}

.form_radio_btn label:hover {
    background-color: var(--background-colorR);
}

.never_stop {
    width: 100%;
    height: 5vw;
    background-color: #D847AF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 2vw;
}

.muscles_qualities {
    width: 80%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 2vw;
    background-color: var(--background-colorB);
}

.muscles_list {
    width: 50%;
    height: 100%;
    background-color: var(--background-colorB);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
.muscles_list h1{
    font-size: 2vw;
    text-align: center;
}

.qualities_list {
    width: 50%;
    height: 100%;
    background-color: var(--background-colorR);
    clip-path: polygon(25.17% 0.00%, 100% 0%, 100.00% 99.80%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .qualities_list h1 {
    font-size: 2vw;
    margin-left: 10vw;
    text-align: center;
   }

.muscles {
    width: 100%;
    height: 70%;
}

.qualities {
    margin-left: 10vw;
    width: 80%;
    height: 70%;
}

.empty {
    width: 100%;
    height: 20vw;
    margin-top: 2vw;
    background-color: #cccbcb;
}

.equpment {
    width: 95%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2vw;
}

.imagine {
    width: 40%;
    height: 20vw;
    background-color: #cccbcb;
}

.what_we_have {
    width: 50%;
    height: 20vw;
    background-color: var(--background-colorB);
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.what_we_have h1 {
    width: 100%;
   text-align: center;
   font-size: 2vw;
}

.what_we_have_equpment{
    width: 100%;
   height: 75%;
   display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.push {
    width: 20vw;
    height: 5vw;
    background-color: var(--background-colorR);
    color: #ffff;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    margin-left: 40vw; 
}

.push:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: rgb(245, 82, 117);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-btn {
    display: inline-block;
    margin: 0 2vw 0 0;
    user-select: none;
    position: relative;
}

.checkbox-btn input[type=checkbox] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.checkbox-btn span {
    display: flex;
    cursor: pointer;
    line-height: 0.5vw;
    border: 1px solid #999;
    background-color: aqua;
    width: 4vw;
    height: 4vw;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    line-height: 1vw;

}

.checkbox-btn input[type=checkbox]:checked+span {
    background: var(--background-colorR);
}

.checkbox-btn:hover {
    color: #666;
}